@charset "UTF-8";
.navbar {
  background: #171a21;
}
.navbar .navbar-brand img {
  height: 90px;
}
.navbar .nav-link {
  font: 18px "Roboto Condensed", Arial, Tahoma;
  color: #FFFFFF;
  text-transform: uppercase;
}
.navbar .nav-link:hover {
  color: greenyellow;
}
.navbar .navbar-nav .nav-link.show {
  color: #89c220;
}
.navbar .navbar-collapse {
  align-items: end;
}
.navbar .navbar-toggler {
  background-color: #FFFFFF;
}
.navbar .dropdown-menu {
  background: #171a21;
  border-radius: 0;
  border-top: 5px solid #89c220;
}
.navbar .dropdown-menu .dropdown-item {
  font: 16px "Roboto Condensed", Arial, Tahoma;
  text-transform: uppercase;
  font-weight: bold;
  color: #89c220;
}
.navbar .dropdown-menu .dropdown-item:hover {
  color: #89c220;
}
.navbar .btn {
  font: 20px "Roboto Condensed", Arial, Tahoma;
  border-radius: 0;
  color: #89c220;
}
.navbar .btn .btn-info {
  background-color: black;
  color: #FFFFFF;
  justify-items: center;
}

body {
  background-color: #333333;
}

section {
  padding: 20px 0px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 4% 25%;
}
.flex .flex-column {
  width: 20%;
}
.flex .flex-column .column-img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  overflow: scroll;
}

.whatsapp {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.whatsapp img {
  width: 2vw;
  height: 4vh;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
  margin: 20px 0;
}

.who-we-are {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  color: #FFFFFF;
  padding: 10% 25% 15% 25%;
  font: 100% "Roboto Condensed", Arial, Tahoma;
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  overflow: hidden;
}
.carousel-item .carousel-item img {
  max-width: 100%;
  max-height: 300vh;
}

.text-center {
  color: greenyellow;
  padding: 3%;
  display: flex;
  justify-content: center;
}

.col-md-3 {
  padding: 2% 4%;
  margin: auto;
}

.text-center-color {
  color: black;
  background-color: white;
  font: "Jersey 25", Inter, Arial;
}

.text-center-strong {
  color: black;
  text-align: center;
  font: 20px "Roboto Condensed", Arial, Tahoma;
  background-color: white;
}

h2 {
  color: #89c220;
  text-transform: uppercase;
  font: 10px solid "Roboto Condensed", Arial, Tahoma;
}

.btn-info {
  font: 18px "Roboto Condensed", Arial, Tahoma;
  background-color: greenyellow;
  border: initial;
}
.btn-info:hover {
  background-color: #83da02;
}

.row {
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.col-12 {
  color: white;
  font: 20px "Roboto Condensed", Arial, Tahoma;
}
.col-12 .imgcapa {
  height: 100%;
}

.Container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  height: 100%;
  background-color: initial;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .card-img-top {
  width: 100%;
  height: 200px;
  /* Defina a altura fixa desejada */
  object-fit: cover;
  /* Garante que a imagem cubra o espaço definido */
}
.card .card-img-top .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .card-img-top .card-body .card-body p {
  margin: 10px 0;
}

.bannermeu {
  width: 100%;
  height: 65vh;
}

.row > * {
  max-width: 100%;
}

.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}
.footerContainer .socialIcons {
  display: flex;
  justify-content: center;
}
.footerContainer .socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: black;
  margin: 10px;
  border-radius: 50%;
}
.footerContainer .socialIcons a a i {
  font-size: 2.5rem;
  color: white;
}

.footerBottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footerBottom P {
  color: white;
}
.footerBottom .designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 1px;
}

/*# sourceMappingURL=style.css.map */
