$background-primary: #171a21;;
$background-secondary: #333333;

$secondary: #89c220;
$hover: #bfeb6d;
$margin: 10px;
$font1: "Jersey 25", Inter, Arial;
$font: "Roboto Condensed", Arial, Tahoma;


.navbar {
    background: #171a21;;
    .navbar-brand img {
        height: 90px;
    }
    .nav-link {
        font: 18px $font;
        color: #FFFFFF;
        text-transform: uppercase;
        &:hover {
            color: $secondary;
        }
    }
    .navbar-nav .nav-link.show {
        color: $secondary;
    }
    .navbar-collapse  {
        align-items: end;

    }

    .navbar-toggler {
        background-color: #FFFFFF;
    }
    .dropdown-menu {
        background: $background-primary;
        border-radius: 0;
        border-top: 5px solid $secondary; 
        .dropdown-item {
            font: 16px $font;
            text-transform: uppercase;
            font-weight: bold;
            color: $secondary;
            &:hover {
                color: $secondary;
            }
        }
    }
    .btn {
        font: 20px $font;
        border-radius: 0;
        color: $secondary;
        .btn-info {
        background-color: black;
        color: #FFFFFF;
        justify-items: center;

        }
    }
    

}

    
body {
    background-color: $background-secondary;
}


section {
    padding: 20px 0px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4% 25%;
    .flex-column {
        width: 20%;
        .column-img {
            width: 120%;
            height: 120%;
            border-radius: 6px;
        }       
    }
}


.whatsapp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    img {
        width: 2vw;
        height: 4vh;
    }
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    margin: 20px 0;
}

.banner {
    width: 100vw;
    height: 75vh;
    padding: 0%;
    overflow-x:hidden;
}

.who-we-are {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    color: #FFFFFF;
    padding: 10% 25% 15% 25%;
    font: 100% $font;
} 
// .emphasis {
//     color: #89c220;
//     padding-top: 0px;
// }

// .games {
//     color: #89c220;
//     padding-top: 0px;
// }
.footer {
    color: #FFFFFF;
    background: #171a21;
    padding: 2% 2%;
    text-align: center;
    width: 100vw; 
    height: 12vh;
    p {
        margin: 0;
        font-size: 1rem;
    }
}

.game1, .game2, .game3, .game4 {
    color: $secondary;
    text-align: center;
    padding: 15%;
}

.carousel-item {
    width: 100vw;
    height: 60vh;

}

.text-center {
    color: #a5fa09;
    padding: 3%;
}

.col-md-3 {
    padding: 2% 5%;
}

h2 {
    color: $secondary;
    text-transform: uppercase;
    font: 10px solid $font;
}