$background-primary: #171a21;
$background-secondary: #333333;

$primary: #bdd80e;
$hover: #edff79;


$background: #333435;
$background-sec: #242323;

$margin: 10px;
$font: "Roboto Condensed", Arial, Tahoma;

.navbar {
    background: $background;

    .navbar-brand img {
        height: 90px;
    }

    .nav-link {
        font: 18px $font;
        color: #FFFFFF;
        text-transform: uppercase;

        &:hover {
            color: $primary;
        }
    }

    .navbar-nav .nav-link.show {
        color: $primary;
    }

    .navbar-collapse {
        align-items: end;

    }

    .navbar-toggler {
        background-color: #FFFFFF;
    }

    .dropdown-menu {
        background: $background-primary;
        border-radius: 0;
        border-top: 5px solid $primary;

        .dropdown-item {
            font: 16px $font;
            text-transform: uppercase;
            font-weight: bold;
            color: $primary;

            &:hover {
                background-color: $hover;
                color: $background;
            }
        }
    }

    .btn {
        font: 20px $font;
        border-radius: 0;
        color: $primary;
        text-align: center;

        .btn-info {
            background-color: black;
            justify-items: center;

        }
       
    }


}


body {
    background-color: $background;
    font-family: 'Roboto Condensed', sans-serif;

}


.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4% 25%;

    .flex-column {
        width: 20%;

        .column-img {
            width: 100%;
            height: auto;
            border-radius: 6px;
            overflow: scroll;

        }
    }
}


.whatsapp {
    position: fixed;
    bottom: 10px;
    right: 10px;

    img {
        width: 2vw;
        height: 4vh;
    }
}

h2 {
    font-size: 1.6rem;
    text-align: center;
    margin: 20px 0;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.who-we-are {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    h1 {
        margin-bottom: 20px;
        text-align: center;
    }

    .custom-card {
        background-color: #242323;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        padding: 20px;
        margin: 0 auto;
        animation: fadeIn 1s ease-in-out;

        .custom-card-body {
            padding: 20px;
            .card-img-dev {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 1px solid #ddd; 
            }

            .fonte-diferente {
                font: $font;
                font-size: 1.3rem;
                line-height: 1.6;
                color: white;
            }
        }
    }
}

.team-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 9vh;

    .custom-photo-card {
        animation: fadeIn 1s ease-in-out;
        border: 2px solid #ddd;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 90%;
        .card-body {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .text-center-color {
                color: #333;
                
            }
        }
    }
}


.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    overflow: hidden;

}

.d-block {
    object-fit: cover;
}



.text-center {
    color: white;
    padding: 3%;
    display: flex;
    justify-content: center;

}



.text-center-color {
    color: white;
    background-color: #242323;
    font: $font;
}

.text-center-strong {
    color: white;
    text-align: center;
    font: 20px $font;
    background-color: $background-sec;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    
    p {
        display: flex;
        justify-content: space-evenly;
    }
}

h2 {
    color: $primary;
    font: $font;
}

.btn-info {
    font: 18px $font;
    background-color: $primary;

    &:hover {
        background-color: $hover;
    }

    border: initial;
}



.col-12 {
    color: white;
    font: 22px $font;

    .imgcapa {
        width: 100%;

    }
    
}



.Container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    .gallery-item {
        max-width: 19vw;
        justify-content: center; 
        border: 1px solid #ddd;
        border-radius: 5px;


        img {
            max-width: 100%;
            height: 100%;
            border-radius: 5px;
            transition: transform 0.2s;
            border: 2px solid #ddd;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.gallery-container {
    width: 100%;
    display: flex;
    gap: 0 10px 0 10px;
    flex-direction: row;
    justify-content: space-between;

}


.row {
    align-items: center;
    margin: auto;
    padding: 0 9vw;
}

.card {
    height: 100%;
    background-color: initial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;

    .card-img-top {
        width: 100%;
        height: 25vh;

        object-fit: cover;
        border: 1px solid #ddd; 


        .card-body {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            
        }

    }
}


.bannermeu {
    width: 100%;
    object-fit: cover;
}



.row>* {
    max-width: 100%;
}

.footerContainer {
    width: 100%;
    padding: 10px 0 0;
    margin: 50px 0 0 0;
    background-color: $background-sec;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    @media (min-width: 600px) {
        flex-direction: row; 
    }

    .socialIcons {
        display: flex;
        justify-content: center;

        a {
            padding: 10px;
            background-color: initial;
            border-radius: 50%;

            i {
                font-size: 30px; 
                color: white;
            }
        }
    }

    .footerBottom {
        background-color: $background-sec;
        padding: 10px;
        text-align: center;

        p {
            color: white;
            margin: initial;

        }
    }
}

.form {
    padding: 0 25vw;
    .btn-success {
        background-color: $primary;
        color: black;
        border: initial;

        &:hover {
            background-color: $hover;
        }
    }
}


.form-label {
    color: white;
}

.btn-custom {
    background-color: $primary;
    border: none;
    color: black;
    padding: 0 5px; 
    font-size: 15px; 
    text-transform: uppercase;
    font-family: 'Roboto Condensed';

    &:hover {
        background-color: $hover;
        color: black !important;
    }
}

.game {
    color: $primary;
    padding: 60px 0 20px 0;
    text-align: center;

}


.fonte-titulo {
    font-size: 2.8rem;
    color: white;
}